body, html{
	padding: 0;
	margin: 0;
	background-color:#005274;
	height:100%;
	width:100%;
}


#Content{
	width: 90%;
	height: calc(90% - 100px);
	background-color: aqua;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
}

footer {
	position: fixed;
	color: white;
	margin: 0px;
	padding: 10px;
	bottom: 0px;
	width: 100%;
  }